.Sequence {
  border: 1px solid var(--lightGrey);
  height: 34px;
  background-color: var(--darkGrey);
  color: var(--fontGrey);
  text-transform: uppercase;
  width: 110px;
  font-size: 12px;
  font-weight: 700;
}
