.controller {
  width: 800px;
  padding: 5px;
  margin: 0 auto;
  background-color: grey;
}

.header {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.toolbar {
  display: flex;
  align-items: center;
}

.steps {
  display: flex;
  justify-content: flex-end;
  align-content: space-between;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.step {
  padding: 5px 15px;
}

.step.playing {
  color: white;
  background-color: indianred;
}
